files:
  "/etc/nginx/conf.d/custom_nginx.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Custom Nginx configuration settings
      types_hash_max_size 2048;
      types_hash_bucket_size 128;

# Nginx will now include the configuration file on restart
container_commands:
  reload_nginx:
    command: "nginx -s reload"

